rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Admin-only access. Replace with your UID.
    match /journalEntries/{docId} {
      allow read: if resource.data.isPublished == true;
      allow read, write: if request.auth != null
                         && request.auth.uid == "P8XDi8J7v1ffk8Cd882QFsPw5fh2";
    }

    match /settings/{docId} {
      allow read: if docId == "quote";
      allow read, write: if request.auth != null
                         && request.auth.uid == "P8XDi8J7v1ffk8Cd882QFsPw5fh2";
    }
  }
}
